.container {
    /*Property type changed*/
    max-width: 960px;
    margin: auto;
    position: relative;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}


/* 
--------------------
Header 
--------------------
*/

.header {
    padding-top: 20px;
    padding-bottom: 25px;
}

.logo {
    color: #7f8c8d;
    font-family: 'Arial';
    font-size: 14px;
    text-decoration: none;
}

.logo img {
    margin-right: 10px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bars-menu {
    display: none;
}

.menu a {
    font-family: 'Arial';
    font-size: 21px;
    color: #7f8c8d;
    text-decoration: none;
    padding-right: 22px;
    padding-left: 22px;
}

.menu li {
    display: inline-block;
}

.menu li + li {
    border-left: 1px solid #7f8c8d;
}

.button1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #fff;
    background-color: #f39c12;
    text-decoration: none;
    padding: 7px 21px;
    display: inline-block;
    border-radius: 3px;
}

.button1.i-small {
    font-size: 14px;
    font-weight: normal;
}

.left-header-block {
    float: left;
    width: 30%;
}

.right-header-block {
    float: left;
    width: 70%;
    text-align: right;
    padding-top: 13px;
}

.menu-container,
.button-container {
    display: inline-block;
}


/* 
--------------------
Block1 
--------------------
*/

.left-block {
    width: 50%;
    float: left;
}

.right-block {
    width: 50%;
    float: left;
}

.right-block h2 {
    text-align: center;
    font: 56px 'chunkfiveroman', sans-serif;
    color: #fff;
    margin-bottom: 0;
}

.right-block h3 {
    text-align: center;
    font: 20px 'chunkfiveroman', sans-serif;
    color: #bdc3c7;
    margin-top: 0;
}

.text-block p:first-child {
    font: 14px Arial;
    color: #f39c12;
    text-transform: uppercase;
    line-height: 21px;
}

.text-block p {
    font: 14px Arial;
    color: #fff;
    line-height: 21px;
}

.block1 {
    height: 407px;
    background: url(../images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mac {
    width: 447px;
    height: 440px;
    background: url(../images/mac.png);
    position: relative;
    top: -15px;
}

.mac h2 {
    font-family: 'chunkfiveroman';
    color: #fff;
    font-size: 38px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 51px;
}

.mac-button-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 26px;
    padding-bottom: 26px;
    margin-left: 18px;
    margin-right: 19px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 177px;
}


/*Есть 2 тренеровачных верстки, которые необходимо адаптировать под несолько разрешений, сделайте под 3 основынх, 1200px, 992px и 768px.*/

@media (max-width: 992px) {
    /*
    -------------------------------
    HEADER media 992px
    -------------------------------
    */
    .left-header-block {
        float: left;
        width: 34%;
    }
    .right-header-block {
        float: left;
        width: 66%;
        text-align: right;
        padding-top: 13px;
    }
    /*
    ----------------------------
    Styles content block
    ----------------------------
    */
    .block1 {
        height: auto;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .left-block,
    .right-block {
        width: auto;
        float: none;
    }
    .right-block h2 {
        margin-top: 0;
    }
    .mac {
        width: 447px;
        height: 440px;
        margin: auto;
        background: url(../images/mac.png);
        top: 5px;
    }
    .text-block {
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .header {
        text-align: center;
    }
    .left-header-block,
    .right-header-block {
        width: auto;
        float: none;
        text-align: center;
    }
    .mac {
        display: none;
    }
    .menu {
        display: none;
    }
    .bars-menu {
        display: block;
    }
    .fa.fa-bars {
        font-size: 30px;
        margin-right: 10px;
    }
    .right-block h2 {
        font-size: 48px;
    }
}